
<div class="mainbody">
    <div class="wrapper register">
        <h1>Change Password</h1>
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong> Success!</strong> You have Changed Your Password Successfully.
        </div>
        <div class="reg-box">
        <form [formGroup]="newData" (ngSubmit)="submit()">
            <div class="row"><input type="password" class="inputarea" placeholder="Old Password" formControlName="oldPassword"></div>
            <div class="row"><input type="password" class="inputarea" placeholder="New Password" formControlName="newPassword"></div>
            <div class="row"><input type="password" class="inputarea" placeholder="Confirm Password" formControlName="confirmPassword">
            <small class="text-danger" *ngIf="newData.get('newPassword')?.value!==newData.get('confirmPassword')?.value && newData.get('confirmPassword')?.touched">
                 Confirm Password should be same as New Password  </small></div>
            <div class="row"><button type="submit" [class.btn-disabled]="!newData.valid" class="btns full roundshape" [disabled]="!newData.valid">Change Password</button></div>
        </form>
    </div>
</div>
</div>
