<div class="mainbody">
    <div class="wrapper">
        <div class="blog_box pad-16" *ngFor="let item of tweets">
            <section class="conts">
                <article class="cont_txt">
                    <div class="top_bar">
                        <div class="pstdtl" >
                            <span class="nms"><span>
                                <i class="far fa-user-circle" style="font-size: 20px;"></i></span> &nbsp;{{item.userName}}</span>
                        </div>
                    </div>
                    <div class="mdl_bar">
                        <p>{{item.postMsg}}</p>
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>
